***Here i will be performing some cleaning and EDA on the data***

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/sales_data.csv")

**very swiftly lets get an idea of the data**

In [2]:
df.head(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4978 entries, 0 to 4977
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          4978 non-null   object
 1   order_date        4978 non-null   object
 2   ship_date         4978 non-null   object
 3   customer_id       4978 non-null   object
 4   customer_name     4978 non-null   object
 5   customer_segment  4978 non-null   object
 6   product_id        4978 non-null   object
 7   product_name      4978 non-null   object
 8   category          4978 non-null   object
 9   subcategory       4978 non-null   object
 10  quantity          4978 non-null   int64
 11  sales             4978 non-null   float64
 12  discount          4978 non-null   float64
 13  profit            4978 non-null   float64
 14  region            4978 non-null   object
 15  city              4978 non-null   object
 16  state             4978 non-null   object
 17  shipping_cost     4978 non-null   float64
 18  payment_type      4978 non-null   object
dtypes: float64(4), int64(1), object(14)
memory usage: 739.1+ KB

_Lets setup the date time_

In [3]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

_check for other things_

In [4]:
print(df.isnull().sum())
print("\n")
print(df['order_id'].nunique(), len(df))
print("\n")
print(df[['sales','profit','discount','quantity','shipping_cost']].dtypes)

order_id            0
order_date          0
ship_date           0
customer_id         0
customer_name       0
customer_segment    0
product_id          0
product_name        0
category            0
subcategory         0
quantity            0
sales               0
discount            0
profit              0
region              0
city                0
state               0
shipping_cost       0
payment_type        0
dtype: int64


4978 4978


sales            float64
profit           float64
discount         float64
quantity           int64
shipping_cost    float64
dtype: object

**Finally we export**

In [5]:
df.to_json("../exports/sales.json", orient="records")